body {
  background-color: beige;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.link {
  height: 100px;
}

.link:hover {
  background-color: rgb(255, 251, 218);
}

.link1 {
  background-color: rgb(200, 250, 200);
}

.link2 {
  background-color: rgb(179, 253, 179);
}

.link3 {
  background-color: rgb(151, 245, 151);
}

.link4 {
  background-color: rgb(169, 233, 169);
}

.link5 {
  background-color: rgb(132, 218, 132);
}

.link6 {
  background-color: rgb(171, 238, 171);
}

.link7 {
  background-color: rgb(252, 173, 173);
}

.link8 {
  background-color: rgb(252, 122, 122);
}

a {
  color: black;
  text-decoration: none;
  display: flex; 
  justify-content: center;
  align-items: center;
}

/* стили для пятого задания */
.block {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.block-js {
  width: 200px;
  height: 200px;
  border: 2px solid black
}

.border {
  border: 2px solid blue;
}

.bgcolor {
  background-color: rgb(255, 179, 208);
}

/* стили для шестого задания */
.box {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.yellow {
  background-color: yellow;
  border: 2px solid black;
  box-sizing: border-box;
}

.blue {
  background-color: blue;
  border: 5px dotted black;
  box-sizing: border-box;
}

.plus-block {
  border: 1px solid black;
}